@charset "UTF-8";

@font-face {
    font-family: "Android";
    src: url("fonts/idroid.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

:root{
    --cor0: #29c3a6;
    --cor1: #45615c;
    --cor2: #115246;
    --cor3: #2ea3e0;
    --cor4: #4c758b;
    --cor5: #e0c7a6;
    
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor5);
    margin: 0px;
    margin-top: 0px;
}

header{
    background-image: linear-gradient(var(--cor0) , var(--cor1));
    margin: 0px;
    padding-top: 15px;
    color: white;
}

header > #titulo-principal{
    text-align: center;
    color: white;
    text-shadow: 1px 2px 3px #000000aa;
}

header > p{
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 1px 2px 3px #0000005a;
}

nav > a{
    color: white;
    text-decoration: none;
    margin-right: 40px;
    margin-bottom: 0px;
}

nav > a:hover{
    text-decoration: underline;
    color: #2ea3e0;
    transition: 0.2s ease-out;
}

main{
    background-color: white;
    margin: auto;
    max-width: 900px;
    padding:15px;
    box-shadow: 0px 0px 10px #00000099;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p{
    text-indent: 40px;
    text-align: justify;
    margin: 15px 0px;
    line-height: 1.5em;
    font-size: 1em;
}

main strong{
    font-weight: bolder;
    color: var(--cor2);
    font-size: 1.1em;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor3); 
}

main a:hover{
    text-decoration: underline; 
    background-color:#1a7d6b82 ;
}

main a::after{
    content: '\1F517';
}

img{
    max-width: 100%;
    height: none;
    display: block;
    margin: auto;
}

section > h1{
    font-family: 'Android';
    font-size: 1.3em;
    margin-bottom:5px;
    color: #4c758b;
}

.fonte-especial{
    font-family: 'Android';
    font-size: 1.1em;
    margin-bottom:5px;
    color: #4c758b;
    margin: 10px 0px 5px 0px;
    background-image: linear-gradient(to right , #29c3a65d , #45615c00);
}

.video{
    position: relative;
    padding-bottom: 58.85%; /* proporção 16:9 */
    height: 0;
    margin: 0px -15px 30px -15px;
    background-color: #115246;
}

.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

section#parte-final{
    background-color: #2ea3e06f;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 10px; 
    overflow: hidden;
    box-shadow: 3px 3px 5px #00000064;
}

/*ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
} */

.conteiner{
    display: flex;
}

.box{
    width: 300px;
    margin: 10px;
}

.checklist::before{
    content: "✔";
}

#h3{
    background-color: #4c758b;
    color: white;
    margin: 0px;
    padding: 10px;
    
}

section > p{
    margin: 10px;
}

footer{
    background-color: #45615c;
    margin-top: 20px;
    padding: 5px;   
}

#pfooter{
    text-align: center;
    color: white;
    font-size: 0.8em;
}

span{
    font-weight: bolder;
}
